<footer class="mobile-footer mobile-only">
    
    <nav class="main-nav">
        <ul>
            <li style="grid-column: 1 / -1;"><a href="/">首页</a></li>
            <li><a href="/submit/">上传作品</a></li>
            <li><a href="/random/">随机页面</a></li>
            <li><a href="/timeline/{{ yr }}">时间线</a></li>
            <li><a href="/stats/">数据统计</a></li>
            <li><a href="/gamestats/">游戏统计</a></li>
            <li><a href="/intro/">社团介绍</a></li>
            <li><a href="http://cang.sjtuguoxue.space/">数字藏品</a></li>
            <li><a href="/nanyang">数字南洋集</a></li>
            <li><a href="/checker">格律校验</a></li>
            <li style="grid-column: 1 / -1;"><a href="https://music.163.com/m/playlist?id=14332525936" style="color: #993399; font-weight: bold;">🎶 和诗以歌</a></li>
            <li style="grid-column: 1 / -1;"><a href="https://mp.weixin.qq.com/s/RoCImUNKl97QmY8PwFSB0A" style="font-weight: bold;">年度报告</a></li>
        </ul>
    </nav>

    <section class="mobile-footer-section">
        <h3 class="mobile-footer-title">联系方式与新媒体矩阵</h3>
        <div class="mobile-footer-text">
            <p>邮箱：<a href="mailto:guoxue_sjtu@163.com">guoxue_sjtu@163.com</a></p>
            <p>网站：<a href="http://sjtuguoxue.space/">sjtuguoxue.space</a></p>
            <p>飞书文档：<a href="https://guoxue-sjtu.feishu.cn">guoxue-sjtu.feishu.cn</a></p>
            <p>微信公众号：<a href="http://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MjM5NDgxODE2Ng==&scene=110#wechat_redirect">上海交大国学社</a></p>
            <p>QQ：709881123</p>
            <p>小红书：<a href="https://xhslink.com/m/2zltiBaeek6">交大国学社</a></p>
            <p>Bilibili：<a href="https://space.bilibili.com/698232390">上海交通大学戏曲部</a></p>
            <p>地址：上海市闵行区东川路800号</p>
        </div>
    </section>

    <section class="mobile-footer-section">
        <h3 class="mobile-footer-title">友情链接</h3>
        <div class="mobile-footer-text">
            <p class="placeholder-text">
                <p><a href="https://club.jluzhouhang.cn/index.html">吉林大学周行诗社</a></p>
            </p>
        </div>
    </section>

    <div class="sidebar-footer">
        <p>Copyright 2022-2026 <a href="https://lyy0323.space/writing/">一只椰椰</a> ｜ 访问量： {{ c }}</p>
        <p>沪ICP备2025137436号</p>
    </div>
</footer>