<section class="sidebar-module">
    
    <h3 class="sidebar-section-title">联系方式</h3>
    <div class="sidebar-text">
        <p>邮箱：<a href="mailto:guoxue_sjtu@163.com">guoxue_sjtu@163.com</a></p>
        <p>网站：<a href="http://sjtuguoxue.space/">sjtuguoxue.space</a></p>
        <p>飞书文档：<a href="https://guoxue-sjtu.feishu.cn">guoxue-sjtu.feishu.cn</a></p>
        <p>微信公众号：上海交大国学社</p>
        <p>QQ：709881123</p>
        <p>小红书：<a href="https://xhslink.com/m/2zltiBaeek6">交大国学社</a></p>
        <p>Bilibili：<a href="https://space.bilibili.com/698232390">上海交通大学戏曲部</a></p>
        <p>地址：上海市闵行区东川路800号</p>
    </div>
    <h1 class="site-title"><img src="{{url_for('static', filename='pics/name.webp')}}" alt="名片" class="site-title-image-2"></h1>
</section>

<section class="sidebar-module">
    <h3 class="sidebar-section-title">友情链接</h3>
     <div class="sidebar-text">
        <p><a href="https://club.jluzhouhang.cn/index.html">吉林大学周行诗社</a></p>
    </div>
</section>